{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Status Title" %}{% endblock %}

{% block content %}


<h1 class="pb-4">{% translate "Status Title" %}</h1>


<div class="container">
    <div class="row mb-4">
        <a class="btn btn-primary" href="/statuses/create/">{% translate "Create status" %}</a>
    </div>
    <table class="table">
        <tr class="font-weight-bold">
            <td>{% translate "ID" %}</td>
            <td>{% translate "Name" %}</td>
            <td></td>
        </tr>
        {% for status in object_list %}
        <tr>
            <td>{{status.id}}</td>
            <td>{{status.name}}</td>
            <td>
                <a href="/statuses/{{status.id}}/update/">{% translate "Update" %}</a><br>
                <a href="/statuses/{{status.id}}/delete">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% empty %}
        <div>{% translate "No statuses" %}</div>
        {% endfor %}
    </table>
</div>
{% endblock %}
