{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Users Title" %}{% endblock %}

{% block content %}
<h1 class="pb-4">{% translate "Users Title" %}</h1>
<table class="table">
    <tr class="font-weight-bold">
        <td>{% translate "ID" %}</td>
        <td>{% translate "Username" %}</td>
        <td>{% translate "Name" %}</td>
        <td>{% translate "Links" %}</td>
    </tr>
    {% for one_user in object_list %}
    <tr>
        <td>{{ one_user.id }}</td>
        <td>{{ one_user.username }}</td>
        <td>{{ one_user.get_full_name }}</td>
        <td>

            {% if user == one_user %}
            <a href="/users/{{one_user.id}}/update/">{% translate "Update" %}</a><br>
            <a href="/users/{{one_user.id}}/delete">{% translate "Delete" %}</a>

            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
