{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate "Tasks Title" %}{% endblock %}

{% block content %}

<h1 class="pb-4">{% translate "Tasks Title" %}</h1>

<div class="mb-4">
    <a class="btn btn-primary" href="/tasks/create/">{% translate "Create task" %}</a>
</div>

<div class="card p-3 mb-4 bg-light">
    <form method="get">
        {% csrf_token %}
        {% bootstrap_form filter.form %}
        <button class="btn btn-primary">{% translate "Search" %}</button>
    </form>
</div>

<table class="table">
    <tr class="font-weight-bold">
        <td>{% translate "ID" %}</td>
        <td>{% translate "Name" %}</td>
        <td>{% translate "Status" %}</td>
        <td>{% translate "Reporter" %}</td>
        <td>{% translate "Assignee" %}</td>
        <td>{% translate "Date" %}</td>
        <td></td>
    </tr>
    {% for task in filter.qs %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="/tasks/{{task.id}}/">{{task.name}}</a></td>
        <td>{{task.status.name}}</td>
        <td>{{task.reporter}}</td>
        <td>{{task.executor}}</td>
        <td>{{task.date}}</td>
        <td>
            <a href="/tasks/{{task.id}}/update/">{% translate "Update" %}</a><br>
            {% if user == task.reporter %}
            <a href="/tasks/{{task.id}}/delete">{% translate "Delete" %}</a>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <div class="row">{% translate "No tasks" %}</div>
    {% endfor %}
</table>
{% endblock %}
